%svg-common {
	background: url("../icons/sprite.svg") no-repeat;
}

%-svg-icon-dog {
	@extend %svg-common;
	background-position: 0 0;
	width: 18px;
	height: 18px;
}

%-svg-icon-fb {
	@extend %svg-common;
	background-position: 0 11.25%;
	width: 10px;
	height: 18px;
}

%-svg-icon-ig {
	@extend %svg-common;
	background-position: 0 22.5%;
	width: 18px;
	height: 18px;
}

%-svg-icon-phone {
	@extend %svg-common;
	background-position: 0 33.75%;
	width: 18px;
	height: 18px;
}

%-svg-icon-upload {
	@extend %svg-common;
	background-position: 0 53.333333333333336%;
	width: 45px;
	height: 43px;
}

%-svg-icon-usb {
	@extend %svg-common;
	background-position: 0 86.46616541353383%;
	width: 45px;
	height: 45px;
}

%-svg-icon-user {
	@extend %svg-common;
	background-position: 0 100%;
	width: 18px;
	height: 18px;
}

