%-svg-icon-advantages-first-dims {
	width: 60px;
	height: 60px;
}

%-svg-icon-advantages-fourth-dims {
	width: 60px;
	height: 60px;
}

%-svg-icon-advantages-second-dims {
	width: 60px;
	height: 60px;
}

%-svg-icon-advantages-third-dims {
	width: 60px;
	height: 60px;
}

%-svg-icon-analysis-dims {
	width: 40px;
	height: 40px;
}

%-svg-icon-calculator-dims {
	width: 40px;
	height: 40px;
}

%-svg-icon-dog-dims {
	width: 18px;
	height: 18px;
}

%-svg-icon-email-dims {
	width: 15px;
	height: 15px;
}

%-svg-icon-fb-dims {
	width: 10px;
	height: 18px;
}

%-svg-icon-handshake-dims {
	width: 40px;
	height: 40px;
}

%-svg-icon-ig-dims {
	width: 18px;
	height: 18px;
}

%-svg-icon-phone-dims {
	width: 18px;
	height: 18px;
}

%-svg-icon-play-button-dims {
	width: 83px;
	height: 83px;
}

%-svg-icon-upload-dims {
	width: 45px;
	height: 43px;
}

%-svg-icon-usb-dims {
	width: 45px;
	height: 45px;
}

%-svg-icon-user-dims {
	width: 18px;
	height: 18px;
}

