@import '../../helpers/variables';
@import '../../helpers/mixins';


.facilities {
  position: relative;
  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($imageDir + "facilities-bg.png") no-repeat;
    background-size: cover;
    z-index: -2; 
  }

  &-container {
    padding-top: 40px;
    background: url($imageDir + "facilities-bg-pseudo.png") top right no-repeat;
  }

  &__form-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__form {
    max-width: 474px;
    margin: 0 auto;
    padding: 28px 19px 46px;
    background-color: #F7F6F6;
    border: 1px solid #d3d3d3;    
  }

  &__title {
    margin-top: 54px;
    color: $white;
  }

  &__list {
    max-width: 256px;
    margin: 45px auto 0;
    background-color: #f4f4f4;
    counter-reset: number;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 235px;
    padding: 70px 30px 22px;
    font-weight: 500;
    font-size: 18px; 
    text-align: center;
    font-family: $montserrat;   
    &:not(:last-of-type) {
      border-bottom: 1px solid #1C4F95;
    }

    &::before {
      content: "0" counter(number);
      counter-increment: number;
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      font-weight: 200;
      font-size: 40px;
      font-family: $robotoCond;
      color: rgba(115,115,115,.5);
    }

    &::after {
      @include pseudo;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 160px;
      height: 4px;
      background-color: $teal;
    }    
  }

  &__sublist {
    display: none;
  }

  &__subbutton {
    position: relative;
    margin-top: 22px;
    margin-left: auto;
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: $montserrat;
    color: $teal;
    &::after {
      @include pseudo;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 0; 
      height: 0;
      border-top: 10px solid transparent;
      border-left: 15px solid $teal;
      border-bottom: 10px solid transparent;
    }
  }


  @include breakpoint(sm) {
    &__form-wrapper {
      background: $blue url($imageDir + "facilities-form-bg.jpg") repeat;
      background-size: contain;
    }

    &__form {
      margin-right: 0;
      padding: 40px 75px 48px;
    }
  }

  @include breakpoint(md) {
    &-container {
      padding-top: 55px;
      background-image: url($imageDir + "facilities-bg-pseudo-768.png");
    }
    &::before {
      background-image: url($imageDir + "facilities-bg-768.png");
    }
    &__form {
      max-width: 500px;
    }
  }

  @include breakpoint(lg) {
    &__form {
      padding: 60px 40px 60px 0;
    }
  }

  @include breakpoint(el) {
    &-container {
      padding-top: 65px;
      background-image: url($imageDir + "facilities-bg-pseudo-1920.png");
    }
    &::before {
      background-image: url($imageDir + "facilities-bg-1920.png");
    }
  }
}
