@import '../../helpers/variables';
@import '../../helpers/mixins';


.facilities {
  position: relative;
  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($imageDir + "facilities-bg.png") no-repeat;
    background-size: cover;
    z-index: -2; 
  }

  &-container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 90px;
    background: url($imageDir + "facilities-bg-pseudo.png") top right no-repeat;
  }

  &__form-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__form {
    max-width: 474px;
    margin: 0 auto;
    padding: 28px 19px 46px;
    background-color: #F7F6F6;
    border: 1px solid #d3d3d3;    
  }

  &__title {
    margin-top: 54px;
    color: $white;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 256px;
    margin: 45px auto 0;
    background-color: #f4f4f4;
    counter-reset: number;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 235px;
    padding: 70px 30px 22px;
    font-weight: 500;
    font-size: 18px; 
    text-align: center;
    font-family: $montserrat;
    cursor: pointer;
    transition: all .3s ease-out;     
    &:not(:last-of-type) {
     // border-bottom: 1px solid rgba(28,79,149,.5);
    }

    &::before {
      content: "0" counter(number);
      counter-increment: number;
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      font-weight: 200;
      font-size: 40px;
      font-family: $robotoCond;
      color: rgba(115,115,115,.5);
    }

    &::after {
      @include pseudo;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 160px;
      height: 4px;
      background-color: $teal;
    } 

    &:active {
      position: relative;
      z-index: 10;
      //width: 290px;
      //min-height: 290px;      
      transform: scale(1.1);
      background-color: $white;
      border: none;
      box-shadow: 0px 4px 60px rgba(19, 48, 88, 0.5);
      & .facilities__sublist {
        display: block;
      }
    }    
  }

  &__sublist {
    display: none;
    margin-top: 22px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 14px;
    color: $blueDark;
    text-align: left;
  }

  &__subitem {
    position: relative;
    padding-left: 25px;
    &:not(:first-of-type) {
      margin-top: 15px;
    }
    &::before {
      @include pseudo;
      top: 3px;
      left: 3px;
      width: 7px;
      height: 7px;
      background-color: $blueDark;
      transform: rotate(45deg);
    }
  }

  &__subbutton {
    position: relative;
    margin-top: auto;
    margin-left: auto;
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    font-family: $montserrat;
    color: $teal;
    transition: all .3s ease-out;
    &::after {
      @include pseudo;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 0; 
      height: 0;
      border-top: 10px solid transparent;
      border-left: 15px solid $teal;
      border-bottom: 10px solid transparent;
      transition: all .3s ease-out;
    }
    &:active {
      color: $purple;
      &::after {
        border-left: 15px solid $purple;
      }
    }    
  }

  &__button {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    max-width: 256px;
    min-height: 82px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transform: translate(-50%, 50%);
  }


  @include breakpoint(sm) {
    &__form-wrapper {
      background: $blue url($imageDir + "facilities-form-bg.jpg") repeat;
      background-size: contain;
    }

    &__form {
      margin-right: 0;
      padding: 40px 75px 48px;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      max-width: 620px;
    }

    &__item {
      width: 50%;
      margin: 0;
      &:nth-child(odd) {
       // border-right: 1px solid  rgba(28,79,149,.5);
      }
      &:nth-child(5) {
        border-bottom: none;
      }
      &:active {
        border: none;
      }
    }
  }

  @include breakpoint(md) {
    &-container {
      padding-top: 55px;
      background-image: url($imageDir + "facilities-bg-pseudo-768.png");
    }
    &::before {
      background-image: url($imageDir + "facilities-bg-768.png");
    }
    &__form {
      max-width: 500px;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      max-width: 620px;
    }

    &__item {
      min-height: 300px;
      padding: 100px 48px 23px;
      font-size: 20px;

      &::before {
        top: 23px;
        left: 23px;
        font-weight: 200;
        font-size: 60px;
      }
      
      &:hover,
      &:focus {
        position: relative;
        z-index: 10;
        transform: scale(1.1);
        background-color: $white;
        border: none;
        box-shadow: 0px 4px 60px rgba(19, 48, 88, 0.5);
        & .facilities__sublist {
          display: block;
        }
      } 
    }

    &__sublist {
      font-size: 16px;
    }

    &__subbutton {
      &:hover,
      &:focus {
        color: $purple;
        &::after {
          border-left: 15px solid $purple;
        }
      }    
    }

    &__button {
      font-size: 16px;
      max-width: 325px;
    }
  }

  @include breakpoint(lg) {
    &__form {
      padding: 60px 40px 60px 0;
    }

    &__list {
      max-width: 100%;
    }

    &__item {
      width: 33.33%;
     // border-right: 1px solid  rgba(28,79,149,.5);
    }
  }

  @include breakpoint(el) {
    &-container {
      padding-top: 65px;
      background-image: url($imageDir + "facilities-bg-pseudo-1920.png");
    }
    &::before {
      background-image: url($imageDir + "facilities-bg-1920.png");
    }
  }
}
