@import '../../helpers/variables';
@import '../../helpers/mixins';


.form {
  display: flex;
  flex-direction: column;
  align-items: center;  

  &__title {
    font-weight: 800;
    font-size: 25px;
    font-family: $montserrat;
    text-align: center;
    color: $purpleDark;    
  }

  &__paragraph {
    margin-top: 12px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: $purpleDark; 
  }

  &__list {
    width: 100%;
    max-width: 300px;
    margin-top: 45px;
  }

  &__item {
    width: 100%;
    &:not(:first-of-type) {
      margin-top: 35px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 45px;
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid $blue;
        
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    fill: $blue;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    font-size: 18px;
    font-family: $robotoCond;
    color: $purpleDark; 
    border: none;
    background-color: transparent;
    @include placeholder {
      font-weight: 400;
      font-size: 18px;
      font-family: $raleway;
      color: #A9C5EC;
    }
    @include placeholderHidden;

    &--subscribe {
      @include breakpoint(sm) {
        padding-right: 190px;
      }
    }
  }

  &__button {
    min-height: 54px;
    width: 100%;
    max-width: 200px;
    margin: 30px auto 0;
    font-size: 12px;
    text-transform: uppercase;
    &--subscribe {
      min-height: 45px;
      max-width: 180px;
      margin-top: 22px;
    }
    &--popup {
      min-height: 40px;
      max-width: 134px;
      margin-top: 44px;
    }     
  }

  @include breakpoint (sm) {
    &__button {
      max-width: 300px;
      &--free-test {
        max-width: 200px;
      }
      &--subscribe {
        max-width: 164px;        
        margin-top: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
      &--popup {
        max-width: 182px;
        min-height: 54px;
        margin-top: 30px;
      }
    }
  }

  @include breakpoint(md) {
    &__title {
      font-size: 30px;
    }

    &__paragraph {
      margin-top: 20px;
      font-size: 24px;
    }

    &__button {      
      margin-top: 40px;
      font-size: 14px;
      &--subscribe {
        max-width: 180px;
        margin-top: 0;
      }
    }
  }

  @include breakpoint(lg) {
    &__button {
      &--popup {
        max-width: 190px;
        min-height: 54px;
        margin-top: 35px;
      }
    }
  }

  @include breakpoint(el) {
    &__title {
      font-size: 36px;
    }
    &__list {
      &--free-test {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
      }
    }
    &__item {
      &--free-test {        
        width: calc((100% - 130px)/3);
        max-width: 300px;
        &:not(:first-of-type) {
          margin-top: 0;  
        }              
      }
    }
    &__button {
      &--free-test {
        margin-top: 50px;
      }
    }
    
  }

}