@import '../../helpers/variables';
@import '../../helpers/mixins';

.free-test {
  padding: 45px 0;

  @include breakpoint(md) {
    padding: 55px 0;
  }

  @include breakpoint(md) {
    padding: 82px 0;
  }
}