@import '../../helpers/variables';
@import '../../helpers/mixins';

.main-footer {
  margin-top: auto;
  background: $white;
}

//SOCIAL ===================
.social {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

  }

  &__link {

    svg path {
      transition: all .2s ease-in-out;
    }

    &:active {

      svg path {
        fill: $white;
      }

    }

    &:hover {

      @include breakpoint(el) {

        svg path {
          fill: $white;
        }

      }

    }

  }

}


//MAP =====================
.map {
  height: 309px;
  width: 100%;

  @include breakpoint(el) {
    height: 262px;
  }

}

//COPY ====================
.copy {
  padding: 25px $gutter;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(md) {
    padding: 25px $gutter + 19px;
  }

  @include breakpoint(el) {
    padding: 30px $gutter;
  }

  &__text {
    font-size: 12px;
    color: $white;
    display: block;
    text-align: center;
    margin: 0 auto;

    @include breakpoint(el) {
      font-size: 14px;
    }

  }

  &__development {

    &:active {
      > svg path {
        fill: $white;
      }
    }

    @include breakpoint(el) {

      svg path {
        transition: all .2s ease-in-out;
      }

      &:hover {
        > svg path {
          fill: $white;
        }
      }
    }

  }

}
