@import '../../helpers/variables';
@import '../../helpers/mixins';

.main-footer {
  margin-top: auto;
  padding: 38px 0 56px;
  background-color: #0083B0;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    display: block;
    &-image {
      display: block;
      margin: 0 auto;
    }
  }

  &__item {    
    font-size: 16px;
    color: $white;
    &--links {
      margin-top: 40px;
    }
    
    &--social {
      margin-top: 50px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    transition: all .3s ease-out;
    &--phone {
      margin-top: 10px;
      font-family: $robotoCond;
    }

    &:active {
      color: $teal;
      & .main-footer__icon {
        fill: $teal;
      }
    }
  }
  &__icon {
    flex-shrink: 0;
    margin-right: 15px;
    fill: $white;
    transition: all .3s ease-out;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    font-size: 14px;
    color: $white;
    font-family: $montserrat;
  }

  &__dev-link {
    color: inherit;
    &:active .main-footer__dev-link-image {
      fill: $teal;
    }
    &-image {
      width: 97px; 
      height: 21px;
      fill: $white;
      transition: all .3s ease-out;
    }
  }

  &__copy {
    margin-top: 15px;
  }


  @include breakpoint(md) {
    padding: 35px 0 42px;
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    &__item {
      width: calc((100% - 60px)/3);
      margin-top: 0;      
      &--links {
        order: 1;
      }
    }
    &__logo-image {
      margin-left: 0;
    }

    &__link {
      &:hover,
      &:focus {
        color: $teal;
        & .main-footer__icon {
          fill: $teal;
        }
      }
    }

    &__icon {
      margin-left: auto;
    }

    &__dev-link {
      color: inherit;
      &:hover .main-footer__dev-link-image,
      &:focus .main-footer__dev-link-image {
        fill: $teal;
      }
      //&-image {
        //width: 130px;
        //height: 30px;
      //} 
    }
    
    &__wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 70px;
    }
    
    &__dev {
      order: 1;
    }

    &__copy {
      margin-top: 0;
    }
  }
  @include breakpoint (el) {
    padding: 40px 0 40px;
    &__wrapper {
      margin-top: 70px;
    }
  }
}

